{{!reference="../ts/ITemplateNodeToProgramContext.ts"}}
{{!context:ITemplateNodeToProgramContext}}
string
{{#section}}{{escapedVariable}}{{^invertedSection}}{{{unescapedVariable}}}{{/invertedSection}}{{/section}}

