{{!reference path="foo/bar/a.ts"}}
{{! reference  path="../foo/bar/b.ts"}}
{{!reference path="../foo/bar/c.ts" }}
{{!context:IContextType}}
string
{{#section}}{{escapedVariable}}{{^invertedSection}}{{{unescapedVariable}}}{{/invertedSection}}{{/section}}
