{{!reference path="../../dest/ChonmageCompiler.d.ts"}}{{!context:Chonmage.IDestTemplate}}
{{#references}}
///<reference path="{{.}}"/>
{{/references}}

module Chonmage{
    export interface ITemplateStore {
        get(name: "{{{templateKey}}}"): Chonmage.Compiled<{{{contextType}}}>;
    }
}

(<any>window)["ChonmageTemplates"]["templates"]["{{{templateKey}}}"] = {{{compiled}}};
